<div class="row mt-5" style="background:rgb(0, 0, 70); color: skyblue; ">
  <div class="col-md-6 m-auto">
    <div style="background: rgb(0, 0, 100)" class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Login</h1>
      <% include ./partials/messages %>
      <form action="/users/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            style="background: #fff"
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            style="background: #fff"
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
          />
        </div>
        <button
          type="submit"
          style="background: lime; border: none;"
          class="btn btn-primary btn-block"
        >
          Login
        </button>
      </form>
      <p class="lead mt-4">
        No Account? <a style="color:red" href="/users/register">Register</a>
      </p>
    </div>
  </div>
</div>
